<ion-view>
	<ion-nav-title>
    	<img height="40" src="fonts/emamemalogo.png">
    </ion-nav-title>

    <div class="bar bar-subheader">
  		<h2 class="title">Benvenuti in Emamema!</h2>
	</div>

    <ion-content scroll="true" padding="false">
		<div class="content">
            <div class="welcome-msg">
            	<img width="100%" src="img/M.jpg">
				<div class="welcome-text">
					<p> Lo staff vi da il benvenuto nell'app ufficiale Emamema! Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.
				</div>
            </div>
			<div>
				<a class="grid-item" href="#/app/benvenuti/product-single-page1"><img src="img/products/1.jpg"/></a>
				<a class="grid-item" href="#/app/benvenuti/product-single-page2"><img src="img/products/2.jpg"/></a>
				<a class="grid-item" href="#/app/benvenuti/product-single-page3"><img src="img/products/3.jpg"/></a>
				<a class="grid-item" href="#/app/benvenuti/product-single-page4"><img src="img/products/4.jpg"/></a>
				<a class="grid-item" href="#/app/benvenuti/product-single-page5"><img src="img/products/5.jpg"/></a>
				<a class="grid-item" href="#/app/benvenuti/product-single-page6"><img src="img/products/6.jpg"/></a>
				<a class="grid-item" href="#/app/benvenuti/product-single-page7"><img src="img/products/7.jpg"/></a>
				<a class="grid-item" href="#/app/benvenuti/product-single-page8"><img src="img/products/8.jpg"/></a>
				<a class="grid-item" href="#/app/benvenuti/product-single-page9"><img src="img/products/9.jpg"/></a>
				<a class="grid-item" href="#/app/benvenuti/product-single-page10"><img src="img/products/10.jpg"/></a>
				<a class="grid-item" href="#/app/benvenuti/product-single-page11"><img src="img/products/11.jpg"/></a>
				<a class="grid-item" href="#/app/benvenuti/product-single-page12"><img src="img/products/12.jpg"/></a>
			</div>
		</div>
	</ion-content>
</ion-view>
