<ion-view>

	<ion-nav-title>
    	<img height="40" src="fonts/emamemalogo.png">
    </ion-nav-title>

    <div class="bar bar-subheader">
  		<h2 class="title">Contatti</h2>
	</div>

	<ion-content overflow-scroll="true" padding="true" class="has-subheader">
		<div id="map" class="map" data-tap-disabled="true"></div>
		<div class="list card">
            <div class="item item-divider">We are here</div>
            <div class="item item-body">
            	<p> Informations of how to reach the store by foot, bus or car. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu est et ante condimentum ultrices non sed est. Vestibulum blandit fringilla diam vitae bibendum. Nam nec nibh sed neque lacinia tempus.
            	</p>
				<div class="contact-information">
					<p>1600 Amphitheatre</p>
					<p>Parkway</p>
					<p>Mountain View, CA 94043</p>
					<p>090 09090909</p>
					<p>email@email.com</p>
				</div>
            </div>
            <div style="padding-top: 3px;" class="item tabs tabs-secondary tabs-icon-top">
			    <a class="tab-item" href="tel:090 09090909">
			      <i class="icon ion-ios-telephone"></i>
			      Call us
			    </a>
			    <a class="tab-item" href="mailto:email@email.com">
			      <i class="icon ion-email"></i>
			      Email us
			    </a>
			</div>
        </div>
		<div class="list card">
            <div class="item item-divider">Social</div>
            <div class="item item-body">
            	<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur semper diam vel sollicitudin dictum. Sed tristique accumsan erat sed mattis. Duis metus ex, pulvinar a libero non, sodales laoreet neque.
            	</p>
            </div>
            <div style="padding-top: 3px;" class="item tabs tabs-secondary tabs-icon-top">
			    <a class="tab-item" href="#">
			      <i class="icon ion-document-text"></i>
			      Website
			    </a>
			    <a class="tab-item" href="https://www.facebook.com/gattacalzebrescia/">
			      <i class="icon ion-social-facebook"></i>
			      Facebook
			    </a>
			    <a class="tab-item" href="https://www.instagram.com/emamemaitalia/">
			      <i class="icon ion-social-instagram"></i>
			      Instagram
			    </a>
			</div>
        </div>

	</ion-content>
</ion-view>
