<ion-nav-back-button class="button-icon icon ion-ios-arrow-back">Back</ion-nav-back-button>
<ion-view>

	<ion-nav-title>
    	<img height="40" src="fonts/emamemalogo.png">
    </ion-nav-title>

    <div class="bar bar-subheader">
  		<h2 class="title">Product name 5</h2>
	</div>

    <ion-content scroll="true" padding="false">

		<div class="product-img">
			<img width="100%" src="img/products/5.jpg">
		</div>

		<div class="extended-product-name">

			<img class="logo" src="http://placehold.it/50x50" alt="logo">

			<h4 class="h4-name">Collant Arbesque <span>by</span> Girardi</h4>
			<br>
			<p class="short-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores dolorum architecto, ducimus corporis necessitatibus error earum consequatur quam! Inventore tempora sapiente laborum aliquam consectetur quidem ratione, harum delectus minima rem?</p>
			<h2 style="margin-left: 10px;" >60&euro;</h2>
		</div>

	</ion-content>
</ion-view>
