<ion-view>

	<ion-nav-title>
    	<img height="40" src="fonts/emamemalogo.png">
    </ion-nav-title>



    <ion-content overflow-scroll="true" padding="true" class="has-header">
		<!-- <ion-refresher
    		pulling-text="Pull to refresh..."
    		on-refresh="doRefresh()">
  		</ion-refresher> -->

		<div class="card">
			<ion-list>
			    <ion-checkbox ng-model="filter.category1">Category 1</ion-checkbox>
			    <ion-checkbox ng-model="filter.category2">Category 2</ion-checkbox>
			    <ion-checkbox ng-model="filter.category3">Category 3</ion-checkbox>
				<ion-checkbox ng-model="filter.category4">Category 4</ion-checkbox>
			    <ion-checkbox ng-model="filter.category5">Category 5</ion-checkbox>
  			</ion-list>
	  	</div>
		<a href="#/app/catalog-tab/categories/categories-thumbnail-list" class="button button-stable button-block">
		  Cerca
	  	</a>
	</ion-content>

</ion-view>
