<ion-view>

	<ion-nav-title>
    	<img height="40" src="fonts/emamemalogo.png">
    </ion-nav-title>



    <ion-content overflow-scroll="true" padding="true" class="has-header">
		<!-- <ion-refresher
    		pulling-text="Pull to refresh..."
    		on-refresh="doRefresh()">
  		</ion-refresher> -->

		<div class="card">
			<ion-list>
			    <ion-checkbox ng-model="filter.primaveraEstate15">Primavera/Estate 2015 </ion-checkbox>
			    <ion-checkbox ng-model="filter.autunnoInverno">Autunno/Inverno 2015 </ion-checkbox>
			    <ion-checkbox ng-model="filter.primaveraEstate1516">Primavera/Estate 2016 </ion-checkbox>
  			</ion-list>
	  	</div>
		<a href="#/app/catalog-tab/seasons/seasons-thumbnail-list" class="button button-stable button-block">
		  Cerca
	  	</a>
	</ion-content>

</ion-view>
